*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html{
    font-family: 'Changa', sans-serif;
    background: linear-gradient(#0A2E8C, #030D26);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    width: ;
}

.h2{

}

.p{

}