@import url('variables.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

svg{
    width: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 0;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: purple;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.listproduct .item img{
    width: 20%;
    height: auto;
    filter: drop-shadow(0 30px 10px #0009);
    border-radius: 5px;
}

.listproduct{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.listproduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listproduct .item h2{
    font-weight: 500;
    font-size: large;
}

.listproduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}

.black-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 5px;
}

.black-image img {
    width: 100%;
    height: auto;
}

.listproduct .item button{
    background-color: #353432;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.carttab {
    width: 400px;
    background-color: #353432;
    color: white;
    position: fixed;
    inset: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-bottom: 20px;
}

.carttab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
    text-align: left;
}

.carttab .btn {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carttab .btn button{
    background-color: salmon;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.carttab .btn .close{
    background-color: white;
}

.carttab .listcart {
    flex-grow: 1;
    overflow-y: auto;
}

.carttab .listcart .item {
    width: 20%;
}

.carttab .listcart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listcart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}