@import url('variables.css');
@import url('logo&navbar.css');
@import url('imageconteiner.css');
@import url('footer.css');

body {
    background: var(--background-linear-color);
    color: var(--primary-color);
    background-repeat: no-repeat;
    font-family: 'Changa', sans-serif;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.45rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 10%;
}

.article {
    background-color: var(--game-text-background-color);
    width: 100%;
    max-width: 40%;
    padding: 30px;
    border-radius: 1%;
    margin-bottom: 40px;
    text-align: left;
}

.logo-img {
    max-width: 30%;
    border-radius: var(--button-border-radius10);
    margin: 20px auto;
    background-color: var(--logo-background-color);
}

/* Text Box Styles */
.textbox {
    margin-bottom: 15px;
    margin-left: 16px;
}

.contact-details {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Input Styles */
.name, .email {
    border-radius: var(--button-border-radius10);
    width: 100%;
    padding: var(--standard-padding);
}

/* Button Styles */
.button {
    font-size: 1rem;
    padding: 15px 32px;
    border-radius: var(--button-border-radius10);
    background-color: var(--blue-color);
    border: none;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: var(--red-color);
}


@media (max-width: 800px) {
    body {
        font-size: 1rem;
    }

    main {
        margin-bottom: 150px;
    }

    .button {
        font-size: 0.875rem;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.75rem;
    }

    main {
        margin-top: 20%;
    }

    .button {
        margin: 10%;
        font-size: 0.75rem;
        padding: 8px 16px;
    }
}