@import url('variables.css');
@import url('logo&navbar.css');
@import url('imageconteiner.css');
@import url('footer.css');

body {
    background: var(--background-linear-color);
    color: var(--primary-color);
    background-repeat: no-repeat;
    font-family: 'Changa', sans-serif;
    box-sizing: border-box;
    margin: var(--common-margin-0);
    font-size: 1.45rem;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--standard-margin-percentage15);
    margin-bottom: var(--standard-margin-percentage10);
}

.article {
    background-color: var(--game-text-background-color);
    width: 100%;
    max-width: 40%;
    padding: var(--standard-padding30);
    border-radius: var(--button-border-radius1);
    margin-bottom: var(--standard-margin-px40);
    text-align: left;
}

.image-box {
    display: block;
    width: 20%;
}

.logo-img {
    display: flex;
    margin: 10px;
    padding: 10px;
    max-width: 100%;
    border-radius: var(--button-border-radius10);
    margin: var(--standard-margin-auto-px);
    background-color: var(--logo-background-color);
}

.textbox {
    margin-bottom: var(--standard-margin-px15);
    margin-left: var(--standard-margin-px16);
}

.contact-details {
    font-size: 30px;
    margin-bottom: var(--standard-margin-px20);
}


.name, .email {
    border-radius: var(--button-border-radius10);
    width: 100%;
    padding: var(--standard-padding);
}

.button {
    font-size: 1rem;
    padding: var(--padding-padding15-32);
    border-radius: var(--button-border-radius10);
    background-color: var(--blue-color);
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--red-color);
}


@media (max-width: 800px) {
    body {
        font-size: 1rem;
    }

    main {
        margin-bottom: var(--standard-margin-bottom);
    }

    .button {
        font-size: 0.875rem;
        padding: var(--standard-padding10-20);
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.75rem;
    }

    main {
        margin-top: var(--standard-margin-percentage20);
    }

    .button {
        margin: var(--standard-margin-percentage10);
        font-size: 0.75rem;
        padding: var(--standard-padding8-16);
    }
}