@import url('variables.css');


body {
  background: var(--background-linear-color);
  background-repeat: no-repeat;
  font-family: 'Changa', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: var(--common-min-height);
  margin: 0;
  padding: 0;
  font-size: 1.45rem;
}

header {
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  min-height: 400px;
  margin: 90px auto;
  position: relative;
}

.box {
  background-color: var(--primary-color);
  color: var(--secoundary-color);
  text-align: center;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  min-height: 250px;
  border-radius: var(--button-border-radius10);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(50px) scale(0.8);
  animation: popIn 0.7s ease-out forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.v-icon {
  display: block;
  width: 100px;
  margin: 0 auto 20px auto;
}

.paragraph,
.paragraph1 {
  margin: 5px 0;
  line-height: 1.8;
  text-align: center;
  color: var(--secoundary-color);
}

footer {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  padding: 20px 0;
}


@media (max-width: 800px) {
  body {
    font-size: 1.1rem;
  }
  main {
    max-width: 400px;
    min-height: 300px;
  }
}

@media (max-width: 500px) {
  main {
    max-width: 300px;
    min-height: 200px;
  }
  .v-icon {
    width: 80px;
    margin-bottom: 15px;
  }
  .box {
    padding: 15px;
  }
  .paragraph, .paragraph1 {
    font-size: 0.9rem;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 0.8rem;
  }
  main {
    max-width: 200px;
    min-height: 150px;
  }
  .box {
    padding: 10px;
  }
  .paragraph, .paragraph1 {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}