@import url('variables.css');

.main-content {
    flex: 1;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding-top: var(--standard-padding10);
    color: var(--primary-color);
    background-color: rgb(0, 0, 0);
    padding-bottom: 0;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    margin-left: 0;
}

.social-media img {
    width: 100%;
    height: 50px;
    justify-content: center;
}

.sign-up-button, .login-button, .logout-button {
    background: linear-gradient(145deg, #3d3d3d, #1f1f1f);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    margin-right: 20px;
}

#loggedInButtons {
    display: none;
  }

  .logout-button:focus {
    outline: none;
  }

  .logout-button {
    -webkit-tap-highlight-color: transparent;
    margin-right: 20px;
  }

.sign-up-button:hover, .login-button:hover, .logout-button:hover {
    background: linear-gradient(145deg, #4b0082, #6a5acd);
    box-shadow: 0 0 30px rgba(138, 43, 226, 0.5);
    cursor: pointer;
}

.twitter-icon:hover, .facebook-icon:hover, .instagram-icon:hover, .github-icon:hover {
    background-color: var(--red-color);
    box-shadow: 0 4px 50px rgb(255, 113, 113);
    cursor: pointer;
}

@media (max-width: 300px){
   footer {
    max-width: 300px;
    background-repeat: no-repeat;
   }
}