*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    font-family: 'Changa', sans-serif;
    background-image: url("/assets/images/smoke.jpg2.jpg");
    margin: 0;
    background-size: cover;
    background-position: center;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.25rem;
    overflow-x: hidden;
}

main{
    margin-top: 10%;
    margin-right: 5%;
    margin-bottom: 20px;
    position:sticky;
    justify-content: flex-end;
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
}

.gamecover{
    display: block;
    max-width: 40%;
    width: 100%;
    height: auto;
    border-radius: 10%;
    margin-top: 7%;
    margin-left: auto;
    margin-right: 0;
}

.gametext{
    background-color: #35353565;
    border-radius: 10px;
    position:absolute;
    left: 3%;
    top: 25%;
    font-size: 1.25rem;
    width: 80%;
    max-width: 600px;
    word-wrap: break-word;
    text-align: left;
    line-height: 40px;
    padding: 10px;
}

.button1{
    position: fixed;
    font-size: 1rem;
    padding: 15px 32px;
    right: 5%;
    bottom: 16%;
    border-radius: 20px;
    background-color: rgb(3, 59, 133);
    border-color: rgb(255, 63, 95);
}

.button1:hover{
    background-color: rgb(255, 63, 95);
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    main {
        margin-top: 10%;
        justify-content: center;
        padding: 5px;
    }

    .gamecover {
        max-width: 80%;
    }

    .gametext {
        left:1.5%;
        font-size: 1rem;
        width: 90%;
        line-height: 1.5rem;
    }

    .button1 {
        font-size: 0.875rem;
        padding: 10px 24px;
    }
}
