@import url('variables.css');

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-image-placeholder);
    border-radius: 30px;
    padding: 20px;
    margin:0 auto;
    gap: 20px;
}

.image-grid{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.image-placeholder-container {
    background-color: var(--color-image-placeholder);
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    height: auto;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-image-placeholder);
    border-radius: 30px;
    padding: 20px;
    margin:0 auto;
    gap: 20px;
}

.image-placeholder-container:hover {
    background-color: var(--red-color);
    transform: translateY(-10px);
}