@import url('variables.css');

.logo {
    background-color: var(--logo-background-color);
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 200px;
    height: auto;
    border-radius: var(--common-border-radius-px20);
}

.nav-bar{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--standard-padding20);
    width: auto;
    background: var(--logo-background-color);
    border-radius: var(--common-border-radius-px10);
    border-style:double;
    z-index: 1000;
}

.navlinks{
    display: flex;
    align-items: center;
    list-style: none;
    padding: var(--standard-padding0);
    margin: var(--common-margin-0);
    gap: 15px;
    justify-content: center;
}
  
.navlinks li{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 20px;
    max-width: 100%;
}

.navlinks li a {
    text-decoration: none;
    color: var(--navbar-primary-color);
    padding: 5px 2px;
    font-size: 1rem;
    border-radius: var(--common-border-radius-px5);
    transition: background-color 0.3s;
}

.head-png{
    width: 40px;
    height: auto;
    max-width: 100%;
} 

.cart {
    margin-left: 10px;
    width: 30px;
    height: auto;
    max-width: 100%;
    background-color: var(--blue-color);
    border-radius: var(--button-border-radius10);
    transition: background-color 0.3s;
}

form {
    margin-left: 10px;
}

.search form{
    display: flex;
    align-items: center;
}

.search input [type=text-main] {
    padding: var(--standard-padding5);
    border-radius: var(--standard-padding5);
    border: 1px solid #ccc;
}

.search button {
    padding: 5px 10px;
    margin-left: var(--standard-margin-px5);
    border-radius: 5px;
    background: var(--button-color);
    color: var(--primary-color)
}

form button:hover {
    background-color: var(--red-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 3px;
    transform: translateY(-2px);
    cursor: pointer;
}

.navlinks li a:hover {
    background-color: var(--red-color);
    color: var(--primary-color);
    max-width: 100%;
    max-height: 35px;
    transform: translateY(-2px);
    }
    
.cart:hover {
    background-color: var(--red-color);
    transform: translateY(-2px);
}

.head-png:hover {
    transform: translateY(-4px);
} 

    @media (max-width: 800px) {

        .logo {
            max-width: 100px;
        }

        .nav-bar {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 3px;
            max-width: 21%;
            align-items: center;
        }
    
        .navlinks {
            flex-direction: column;
            gap: 10px;
            width: 100%;
            align-items: center;
        }
    
        .navlinks li {
            width: 100%;
            align-items: center;
        }
    
        .navlinks li a {
            text-align: center;
            padding: var(--standard-padding10);
            font-size: 0.9rem;
            color: var(--navbar-primary-color);
        }

    }
    
    @media (max-width: 300px) {
        .navlinks li a {
            text-align: center;
            font-size: 0.8rem;
            padding: var(--standard-padding8);
        }
        
        .logo {
            max-width: 100px;
        }
    
        .cart {
            width: 25px;
        }
    }