@import url('variables.css');
@import url('logo&navbar.css');
@import url('footer.css');

body {
    font-family: 'Changa', sans-serif;
    background-image: url("/assets/images/background.webp");
    background-size: cover;
    background-position: center;
    color: var(--primary-color);
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    min-height: var(--common-min-height);
}

main {
    margin-top: var(--standard-margin-px370);
    justify-content: center;
    position: sticky;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.image-container {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}


.explore {
    position: sticky;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.774);
    justify-content: center;
    text-decoration: none;
    max-width: 100%;
    max-height: auto;
    display: flex;
    padding: var(--standard-padding20);
    margin: var(--standard-margin-auto-px);
    margin-left: var(--standard-margin-px300);
    margin-right: var(--standard-margin-px300);
}

.explore a {
    padding: var(--standard-padding10);
    flex: auto;
}

.explore:hover {
    background-color: var(--red-color);
    display: flex;
}

.image-placeholder-container:hover {
    box-shadow: 0 4px 50px rgb(95, 76, 202);
}





@media (max-width: 700px) {
    .explore {
        width: 90%;
        justify-content: center;
        margin: var(--standard-margin-auto-px);
    }
}

@media (max-width: 300px) {

    body{
        justify-content: center;
    }

    .explore {
        width: 100%;
        justify-content: center;
    }
}