@import url('variables.css');
@import url('logo&navbar.css');
@import url('imageconteiner.css');
@import url('footer.css');


body {
    font-family: 'Changa', sans-serif;
    background-image: url("/assets/images/background.webp");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}

main {
    margin-top: 300px;
    position: sticky;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

.explore {
    position: sticky;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.774);
    justify-content: center;
    text-decoration: none;
    max-width: 100%;
    max-height: auto;
    display: flex;
    padding: 20px;
    margin: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.explore:hover {
    background-color: var(--red-color);
    display: flex;
}

.explore a {
    padding: var(--standard-padding);
    flex: auto;
}